.controlButton {
    border-top-color: #eeeeee;
    border-left-color: #eeeeee;
    border-right-color: #bbbbbb;
    border-bottom-color: #bbbbbb;
    border-width: 4px;
    background-color: #dddddd;
    font-size: 18pt;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
  
.controlButton:active {
    border-left-color: #bbbbbb;
    border-top-color: #bbbbbb;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 0px;
}
