.gameContainer {
    display: inline-block;
}
  
.boardContainer {
  
}

.boardRow {
    overflow: auto;
    white-space: nowrap;
}
  
.boardContainer:after, .statusContainer:after {
    clear: both;
    content: "";
    display: table;
}
  
.statusContainer {
    padding: 4px;
    background: #dddddd;
}
  
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.modalContainer {
    position: absolute;
    z-index: 999;
}

.settingsSizePane {
    margin-bottom: 8px;
}

.settingsSliderPane {
    padding: 4px;
}
