.gameContainer {
    display: inline-block;
}
  
.boardContainer {
  
}
  
.boardContainer:after, .statusContainer:after {
    clear: both;
    content: "";
    display: table;
}
  
.statusContainer {
    padding: 4px;
    background: #dddddd;
}
  
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
