.hiddenTile, .flaggedTile {
    margin: 1px;
    border-style: solid;
    border-width: 2px;
    border-top-color: #eeeeee;
    border-left-color: #eeeeee;
    border-right-color: #999999;
    border-bottom-color: #999999;
    background-color: #dddddd;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
  }
  
  .flaggedTile {
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
  }

  .hiddenTile:active {
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
  }
  
  .revealedTile {
    margin: 1px;
    width: 36px;
    height: 36px;
    border-style: none;
    background-color: #dddddd;
    text-align: center;
    vertical-align: top;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    display: inline-block;
  }
  
  .revealedTile.bomb {
    background: red;
  }

  .revealedTile.tile0 {
    color: black;
  }
  
  .revealedTile.tile1 {
    color: blue;
  }
  
  .revealedTile.tile2 {
    color: green;
  }
  
  .revealedTile.tile3 {
    color: darkgoldenrod;
  }
  
  .revealedTile.tile4 {
    color: purple;
  }
  
  .revealedTile.tile5 {
    color: red;
  }
  
  .revealedTile.tile6 {
    color: darkred;
  }
  
  .revealedTile.tile7 {
    color: darkorange;
  }
  
  .revealedTile.tile8 {
    color: darkslategray;
  }
  
  .revealedBomb {
    width: 32px;
    height: 32px;
  }
  